 #chess-board{
   display: grid;
   grid-template-columns: repeat(8,1fr);
   grid-template-rows: repeat(8,75px);
   border: 2px solid black;
   width: fit-content;
}
#chess-board div:nth-child(-2n+8), 
#chess-board div:nth-child(8) ~ div:nth-child(-2n+15), 
#chess-board div:nth-child(16) ~ div:nth-child(-2n+24),
#chess-board div:nth-child(24) ~ div:nth-child(-2n+31),
#chess-board div:nth-child(32) ~ div:nth-child(-2n+40),
#chess-board div:nth-child(40) ~ div:nth-child(-2n+47),
#chess-board div:nth-child(48) ~ div:nth-child(-2n+56),
#chess-board div:nth-child(56) ~ div:nth-child(-2n+63) {
    background-color: rgb(89, 49, 6);
    width:75px
   }
   #chess-board div:nth-child(-2n+7),
   #chess-board div:nth-child(9) ~ div:nth-child(-2n+16),
   #chess-board div:nth-child(15) ~ div:nth-child(-2n+23),
   #chess-board div:nth-child(25) ~ div:nth-child(-2n+32),
   #chess-board div:nth-child(31) ~ div:nth-child(-2n+39),
   #chess-board div:nth-child(40) ~ div:nth-child(-2n+48),
   #chess-board div:nth-child(48) ~ div:nth-child(-2n+55),
   #chess-board div:nth-child(56) ~ div:nth-child(-2n+64)
    {
    background-color: rgb(180, 102, 18); 
   }
   #chess-board{
    font-size: 45px;
    text-align: center;
   }
 #chess-board div:hover {
    opacity: 0.7 !important;
   }
